@model ISI.Models.Estadistica

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Estadística</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalSpent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalSpent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.EstadisticaID }) |
    @Html.ActionLink("Listado Estadísticas", "Index")
</p>
